<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Vyhledávání</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vyhledávání</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar placeholder="Vyhledávej filmy..." (ionInput)="search($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let movie of movies">
      <ion-label>
        <h2>{{ movie.title }}</h2>
        <p>{{ movie.overview }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
